*{
    font-family: Sansation;
    font-style: normal;
}
.back{
    width:100vw;
    min-height:140vh;
    background-color:#FBF2D1;
}
.product{
    position: relative;
    margin-left: 170px;
    margin-right: 30px;
    margin-top: -750px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}